/* .ThesisClassic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: calc(100vh - 64px);
}

.ThesisClassic {
    width: 96%;
    height: 93%;
    padding: 20px 40px;
    background-color: #fff;
    overflow: auto;
    font-size: 1rem;
}

滚动条上的滚动滑块
.ThesisClassic::-webkit-scrollbar-thumb {
    background-color: #2f2c2c;
    border-radius:  6.5px 6px 6px 6.5px;
    height: 30px;
}

滚动条上的箭头按钮
.ThesisClassic::-webkit-scrollbar {
    width: 13px;
}

.ThesisClassic-head {
    margin-bottom: 30px;
}

.ThesisClassic-title,
.ThesisClassic-author,
.ThesisClassic-contact-details {
    text-align: center;
}

.ThesisClassic-contact-details {
    margin-bottom: 20px;
}

.ThesisClassic-key {
    margin-bottom: 30px;
}

.ThesisClassic-diviLine {
    width: 30%;
    border-top: 1px solid rgba(0,0,0,1);
    margin-bottom: 10px;
}

.ThesisClassic-license {
    text-align: center;
}

.ThesisClassic-author {
    font-size: 1.1rem;
}

.ThesisClassic-img {
    display: flex;
    justify-content: space-around;
}  */
.ThesisClassic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    height: calc(100vh - 64px);
}

.ThesisClassic {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    height: 93%;
    width: 96%;
    padding: 2rem 40px;
    background-color: #fff;
    overflow-y: scroll;
}

/* 滚动条上的滚动滑块 */
.ThesisClassic::-webkit-scrollbar-thumb {
    background-color: #2f2c2c;
    border-radius:  6.5px 6px 6px 6.5px;
    height: 30px;
}

/* 滚动条上的箭头按钮 */
.ThesisClassic::-webkit-scrollbar {
    width: 13px;
}

.ThesisClassic>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    font-size: 16px;
}

.ThesisClassic-abstract-title,
.ThesisClassic-keyWord-title,
.ThesisClassic-publication-title,
.ThesisClassic-date-title {
    font-size: 26px;
    font-weight: 700;
}

.ThesisClassic>.ThesisClassic-title {
    justify-content: center;
    width: 55%;
    margin: 0 0 1rem 0;
    font-size: 26px;
    text-align: center;
    font-weight: 700;
}

.ThesisClassic>.ThesisClassic-author {
    justify-content: center;
    margin: 0 0 2.5rem 0;
}

.ThesisClassic>.ThesisClassic-original {
    justify-content: end;
    margin: 0 0 2.5rem 0;
}

.ThesisClassic>.ThesisClassic-original>a{
    color: #1890ff;
    border-bottom: 1px solid #1890ff;
}

.ThesisClassic-abstract,
.ThesisClassic-keyWord,
.ThesisClassic-publication,
.ThesisClassic-date {
    margin: 0 0 2rem 0;
}

.ThesisClassic-abstract-title,
.ThesisClassic-keyWord-title,
.ThesisClassic-publication-title,
.ThesisClassic-date-title {
    margin: 0 0 1rem 0;
}

@media screen {
    
}